[submodule "full-pipeline/nlp-annotate/nlp-services/applications/bio-yodie/gate"]
	path = full-pipeline/nlp-annotate/nlp-services/applications/bio-yodie/gate
	url = https://github.com/GateNLP/Bio-YODIE.git
